nav{
    display: flex;
}
body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.portfolio title{
    color: black;
    font size: 45px;
    font: weight 800px;
    line-height:normal;
    font style:normal;
}
.text-primary{
    color: #FD6E0A
.btn primary{
    border-radius: 5px;
    background:#FDEF0A
}
nav>ul{

    display: flex;
    list-style: none;
    nav li{
        list-style: none;
        margin-right: 50px;
    }
    nav a{
        text-decoration: none;
            color:#FD6E0A ;
        }
    }
}